@import './var';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin d-flex {
    display: flex;
}

@mixin customBtn {
    background-color: $main-color;
    padding: 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}