@import '../../../styles/var';
@import '../../../styles/mixins';

.material-interest-main {
    &__top {
        display: flex;
        justify-content: space-between;

        &__see-all {
            color: $main-color;
            text-decoration: underline;

            & a {
                color: $main-color !important;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
        }
    } 

    &__content {
        border-radius: $radius;
        background-color: #E7FBF3;
        padding: 20px;
        margin-top: 20px;
        
        &__inner {
            border: 1px solid $main-color;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: $radius;
            background-color: white;
            padding: 15px;
            display: flex;
            gap: 15px;
        }

        &__left {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            gap: 15px;

            &__status {
                border-radius: 40px;
                background-color: #E7FBF3;
                display: flex;
                gap: 5px;
                justify-content: center;
                align-items: center;
                padding: 7px unset 7px unset;

                &__green {
                    width: 15px;
                    height: 15px;
                    background-color: $main-color;
                    border-radius: 50%;
                }

                &__text {
                    font-size: 17px;
                }
            }

            &__img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                overflow: hidden;

                & img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            gap: 35px;

            &__head {
                display: flex;
                justify-content: space-between;

                &__name {
                    & h4 {
                        font-size: 20px;
                    }
                }

                &__star {
                    width: 30px;
                    height: 30px;
                    @include flex-center();
                    background-color: #F5F5F4;
                    border-radius: 50%;
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-wrap: wrap;
                gap: 15px;

                &__location, &__weight {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    &__icon {
                        width: 25px;
                        height: 25px;
                        background-color: #E7FBF3;
                        border-radius: 50%;
                        @include flex-center;
                    }

                    &__text {
                        @include d-flex();
                        flex-direction: column;
                    }
                }
            }
        }
    }

    &__bottom {
        @include d-flex();
        justify-content: flex-end;
        margin-top: 20px;

        & .custom-btn {
            background-color: $main-color;
            padding: 30px;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }
    }
}